Key Components:

Data Loading
Preprocessing
Exploratory Data Analysis (EDA)
Sequence Preparation
LSTM Model Creation
Training and Evaluation
Visualization

Libraries Required:

pandas
numpy
matplotlib
seaborn
scikit-learn
scipy
tensorflow

Prerequisites:

Ensure you have the following CSV files in the same directory:

'Features data set.csv'
'sales data-set.csv'
'stores data-set.csv'

Python Version: 3.7 - 3.9
If you have python version 3.10 or above please use input layer to train the LSTM model. 
